<h1>You currently have these genres in stock.</h1>
<br>
<% @genres.each do |genre| %>
  <%= genre.genre %>
  <br><br>
  <a href="/genres/<%= genre.id %>">See All Stock In This Genre</a>
  <p>---------------------------------</p>
<% end %>