<h1>Hello Rick!</h1>
<br>
<h2>Always Remember:</h2>

<h2><%= @quote %></h2>

<br><br>

<h4><a href="/json">>>See JSON Data<<</a></h4>

<br><br>

<h4><a href="http://www.officialcharts.com/charts/albums-chart/" target="_blank">>>Current Trends<<</a></h4>