<!DOCTYPE html>
<html>
<head>
  <title>Ricks Record Collection.</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <!-- <div id="menu">
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="">Current Stock</a></li>
      <li><a href="">Input New Stock</a></li>
      <li><a href="">Stock Analysis</a></li>
    </ul>
  </div> -->
  <%= yield %>
</body>
</html>