<h1>Please input a new album.</h1>

<form action="/albums" method="post">
  <label for="title">Album Title:</label>
  <input type="text" name="title">
  <label for="artist_id">Artist Id:</label>
  <input type="number" name="artist_id" min=0>
  <label for="year">Year:</label>
  <input type="number" name="year" min=1920>
  <input type="submit" name="Add Album">
</form>