<h1>Please input a new artist.</h1>

<form action="/artists" method="post">
  <label for="name">Artist Name:</label>
  <input type="text" name="name">
  <label for="type">Type:</label>
  <input type="text" name="type">
  <input type="submit" name="Add Artist">
</form>